# =========================================================
# ARCHIVOS Y CARPETAS QUE NO DEBEN SUBIRSE AL REPOSITORIO
# =========================================================

# === COMPILADOS DE JAVA ===
/bin/
*.class
*.jar
*.war
*.ear
# === CONFIGURACIÓN LOCAL DE IDEs ===
# VS Code
.vscode/
